In [2]:
import pandas as pd

In [3]:
raw = pd.read_csv("data-historical-both.csv").dropna(subset=["Max Temp (°C)", "Min Temp (°C)"])

raw.head(3)

C:\Users\dexmc\AppData\Local\Temp\ipykernel_14140\2399239376.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  raw = pd.read_csv("data-historical-both.csv")

,Unnamed: 0,Climate ID,Date/Time,Year,Month,Day,Max Temp (°C),Min Temp (°C)
0,0,1012008,NaN,1905,2,29,NaN,NaN
1,1,1012008,NaN,1905,2,30,NaN,NaN
2,2,1012008,NaN,1905,2,31,NaN,NaN