In [7]:
import pandas as pd
import os
import regex as re

In [13]:
raw = pd.read_csv("data-historical-both.csv")

raw.head(3)

C:\Users\dexmc\AppData\Local\Temp\ipykernel_14140\2399239376.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  raw = pd.read_csv("data-historical-both.csv")

,Unnamed: 0,Climate ID,Date/Time,Year,Month,Day,Max Temp (°C),Min Temp (°C)
0,0,1012008,1905-01-01,1905,1,1,7.8,0.6
1,1,1012008,1905-01-02,1905,1,2,8.9,2.2
2,2,1012008,1905-01-03,1905,1,3,6.7,4.4

In [14]:
raw = raw.drop(columns=list(raw.filter(regex='Unnamed').columns)).set_index("Climate ID")
raw

             Date/Time  Year  Month  Day  Max Temp (°C)  Min Temp (°C)
Climate ID
1012008     1905-01-01  1905      1    1            7.8            0.6
1012008     1905-01-02  1905      1    2            8.9            2.2
1012008     1905-01-03  1905      1    3            6.7            4.4
1012008     1905-01-04  1905      1    4            6.7            0.6
1012008     1905-01-05  1905      1    5            6.1            1.1
...                ...   ...    ...  ...            ...            ...
8401298     2022-11-19  2022     11   19            0.7           -4.1
8401703     2022-11-19  2022     11   19            2.7           -3.7
8401705     2022-11-19  2022     11   19            2.9           -3.5
8403505     2022-11-19  2022     11   19            4.1           -1.8
8403603     2022-11-19  2022     11   19            4.5           -0.6

[49569177 rows x 6 columns]

In [15]:
raw.to_csv("data-historical-both.csv")

# Max date testing

In [21]:
files = os.listdir('./series')

lis = []

for file in files:
    regex = "[0-9]{4}\-[0-9]{2}\-[0-9]{2}"
    date = re.findall(regex, file)[0]
    date = pd.to_datetime(date).date()
    lis.append(date)
    
return max(list(set(lis)))

datetime.date(2022, 11, 21)

In [1]:
import pandas as pd

In [13]:
data = pd.read_csv("./raw_data-max.csv")

weyburn = data[data["CMANAME"] == "Weyburn"].drop_duplicates(subset=["CMANAME", "Month", "Day", "Year"])

weyburn

         Unnamed: 0  CMANAME  Month  Day  Year  value
827325       827325  Weyburn      9    1  1916   12.8
827326       827326  Weyburn      9    2  1916   10.0
827327       827327  Weyburn      9    3  1916   15.6
827328       827328  Weyburn      9    4  1916   12.2
827329       827329  Weyburn      9    5  1916   10.0
...             ...      ...    ...  ...   ...    ...
5369460     5369460  Weyburn     11   18  2022  -18.7
5369461     5369461  Weyburn     11   19  2022  -14.6
5369462     5369462  Weyburn     11   20  2022  -12.3
5369463     5369463  Weyburn     11   21  2022  -14.1
5372352          97  Weyburn     11   22  2022    2.1

[27737 rows x 6 columns]